.new-task-details {
  position: absolute;
  background-color: rgb(238, 238, 238);
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 15px;
  width: 50%;
  box-shadow: -1px 2px 3px 2px rgb(173, 171, 167);
  //TODO: form is moving as elements are added to the container
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    align-self: end;
    font-size: 1rem;
    border-top-right-radius: 15px;
    padding: 0.5em;
  }
}

.header-details {
  background-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: end;
}
.header-details ~ div {
  padding: 10px;
}

.header-details + div + div {
  word-wrap: break-word;
  overflow: auto;
}
